.festivals.ranking .festival:nth-child(1) {
  border: 4px solid #E3AB00;
}
.festivals.ranking .festival:nth-child(2) {
  border: 4px solid #C9CACA;
}
.festivals.ranking .festival:nth-child(3) {
  border: 4px solid #BA6E40;
}

.festival {
  padding: 10px;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}
.festival .title {
  width: calc(100% - 40px);
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.festival .title span {
  display: inline-block;
  margin-right: 12px;
  font-size: 24px;
}
.festival .flexbox {
  display: flex;
}
.festival .flexbox .thumbnail {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-right: 10px;
}
.festival .flexbox .text {
  position: relative;
  width: calc(100% - 150px);
}
.festival .flexbox .text p {
  font-size: 18px;
  margin-bottom: 10px;
}
.festival .flexbox .text .info {
  display: flex;
}
.festival .flexbox .text .info img {
  height: 30px;
  margin-right: 5px;
}
.festival .flexbox .text .info .comment {
  margin-right: 16px;
  display: flex;
}
.festival .flexbox .text .info .comment p {
  font-weight: bold;
}
.festival .flexbox .text .info .wpulike {
  margin-right: 16px;
  padding: 0;
  transform: translateY(-5px);
}
.festival .flexbox .text .info .wpulike-robeen .count-box {
  padding: 0 0 0 5px;
  font-weight: bold;
  font-size: 18px;
}
.festival .flexbox .text .info .has_free {
  transform: translateY(-1px);
}
.festival .flexbox .text .readmore {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 6px 14px;
  border-radius: 999px;
  color: #272343;
  background-color: #ffd803;
  white-space: nowrap;
}

.pagination {
  border-radius: 999px;
  padding: 5px;
  box-shadow: 0px 0px 15px -5px #777777;
  margin-top: 40px;
}
.pagination .nav-links {
  display: flex;
  justify-content: center;
}
.pagination .nav-links .page-numbers {
  display: block;
  margin: 0 3px;
  padding: 9px 16px;
}
.pagination .nav-links .page-numbers.current {
  border-radius: 999px;
  background-color: #ffd803;
  color: #272343;
}