.ereas_parent > li {
  margin-bottom: 20px;
}
.ereas_parent h2 {
  margin-bottom: 8px;
}

.ereas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
.ereas > li {
  border: 2px solid #2d334a;
  padding: 10px;
}
.ereas > li a {
  display: block;
}