// https://www.happyhues.co/palettes/14
$color-bg: #fffffe;
$color-h: #272343;
$color-p: #2d334a;
$color-button: #ffd803;
$color-buttontext: #272343;

$color-secondary: #e3f6f5;
$color-tertiary: #bae8e8;


// https://www.happyhues.co/palettes/13
// $color-bg: #0f0e17;
// $color-h: #fffffe;
// $color-p: #a7a9be;
// $color-button: #ff8906;
// $color-buttontext: #fffffe;

// $color-secondary: #f25f4c;
// $color-tertiary: #e53170;

// https://www.happyhues.co/palettes/15
// $color-bg: #faeee7;
// $color-h: #33272a;
// $color-p: #594a4e;
// $color-button: #ff8ba7;
// $color-buttontext: #33272a;

// $color-secondary: #ffc6c7;
// $color-tertiary: #c3f0ca;

// https://www.happyhues.co/palettes/6
// $color-bg: #fffffe;
// $color-h: #2b2c34;
// $color-p: #2b2c34;
// $color-button: #6246ea;
// $color-buttontext: #fffffe;

// $color-secondary: #d1d1e9;
// $color-tertiary: #e45858;