@use "color" as *;
main {
  .content {
    div {margin-bottom: 40px;}
    p, h1, h2, h3, h4, h5 {margin-bottom: 0.2em;}
    h2 {
      font-size: 24px;
      padding: 20px 10px;
      background-image: linear-gradient(90deg, rgba(210, 153, 194, 1), rgba(255, 247, 194, 1));
    }
    p { line-height: 200%;}
    a {text-decoration: underline;}
    ul {padding-left: 24px;}
    li {
      line-height: 200%;
      list-style: disc;
    }
  }
}